@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Black Ops One';
    src: url(../fonts/Black_Ops_One/BlackOpsOne-Regular.ttf);
}
* {
    font-family: 'Roboto';
    font-weight: 500;
    margin: 0%;
}

@keyframes bong {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
body {
    min-width: 318px;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to bottom, #1488cc, #2b32b2);
    color: white;
}
.contenedor {
    height: 500px;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px 3px #021b79;

    padding: 15px;
}
.contenedor:hover {
    animation: bong 1s ease-out 1 normal;
}

.tittle {
    font-family: 'Black Ops One';
    font-weight: 100;
    font-size: 4em;
    color: rgb(5,21,46);
    text-shadow: 0px 0px 1.5px rgba(255, 255, 255, 0.253), 5px 5px 2px rgba(255, 0, 0, 0.801);
}

form {
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.form__cont {
    width: 100%;
    height:70px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form__label {
    font-size: 1.2em;
}
.form__input {
    width: 180px;
    height: 35px;

    border-radius: 15px;
    border: none;

    box-shadow: 0px 0px 20px 1px #021b79;
}
.form__button {
    width: 180px;
    height: 45px;

    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 1px #021b79;

    background-color: #021b79;

    color: white;
    transition: transform 1s;

    font-size: 1.1em;
}
.form__button:hover {
    transform: scale(1.1);
}
.cont__registrar {
    display: flex;
    gap: 10px;
}
.text__ancla {
    color: white;
}

@media (min-width:600px) {
    .form__cont {
        /* flex-direction: row;
        flex-wrap: wrap; */
        justify-content: left;
    }
    .form__input {
        width: 300px;
    }
}
@media (min-width:1024px) {
    .contenedor {
        width: 70%;
    }
}
@media (min-width:1400px) {
    .contenedor {
        width: 60%;
    }
}

@media (min-width:1600px) {
    .contenedor {
        height: 70%;
        width: 70%;
    }
    .tittle {
        font-size: 6em;
    }
    .form__cont {
        height: 30%;
    }
    .form__label {
        font-size: 1.7em;
    }
    .form__input {
        font-size: 1.5em;
        height: 50px;
        width: 100%;
    }
    .form__button {
        width: 100%;
        height: 20%;
        font-size: 1.8em;
        font-weight: 100;
    }
    .text__span {
        font-size: 1.4em;
    }
    .text__ancla {
        font-size: 1.4em;
    }
}